/* //////////////////////////////////////// */
/* General stuff like container, root, body */
/* //////////////////////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

:root {
    --bg-color: rgba(97, 206, 112, 0.8);
    --bg-color-white: rgba(255, 255, 255, 0.651);
    --border-color: rgba(83, 176, 92, 0.8);
    --selected: rgb(80, 255, 101);
    --gradient-color: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), var(--bg-color);
    --gradient-color-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), var(--bg-color);
}

.container-app {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.container-navbar {
    display: grid;
    grid-template-columns: 75px 1fr 75px;
    width: 99%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.container-menu {
    background-color: var(--bg-color-white);
    display: grid;
    grid-template-columns: 200px 1fr 50px 45px;
    width: 90%;
    margin: 10px 0 40px 0;
    padding-top: 5px;
}

.container-content {
    height: 90%;
    width: 95%;
    margin: 10px;
}

.container-flexMenu{
    background-color: var(--bg-color-white);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 88vh;
    margin-top: 10px;
}

/* ////////// */
/* Tags //////*/
/* ///////////*/
body {
    background-color: var(--bg-color);
    color: #555;
}

a {
    cursor: pointer;
}

h1 {
    font-size: clamp(0.5rem, 2vw + 1.5rem, 3rem);
    margin: 30px;
    line-height: 1em;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
}

p {
    padding-top: 5px;
}

span {
    color: #2b5b3e
}

textarea {
    display: grid;
    width: 100%;
    resize: none;
    padding-left: 5px;
}

form {
    display: grid;
    width: 100%;
}

label {
    margin: 5px 3px 0 0;
}

select {
    margin-bottom: 5px;
}

/* -- Standard button style -- */
button {
    background: var(--gradient-color);
    border: 2px solid var(--border-color);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
}

/* -- Standard submit button style -- */
input {
    border: 2px solid var(--border-color);
    border-radius: 3px;
    margin: 5px 0 5px 0;
}