/* //////////////// */
/* Buttons /////////*/
/* //////////////// */

/* -- Style navbar buttons -- */
.btn-group-navbar button {
    color: white;
    margin: 2px;
}

/* -- Makes button resize to text and adds width -- */
.btn-group-long button,
.btn-group button,
.button-add,
.button-save,
.button-delete,
.button-cancel,
.button-menu,
.button-cancelMenu,
.button-export {
    background: var(--gradient-color);
    display: block;
    width: 170px;
    justify-self: center;
}

/* -- Adds a background color on hover -- */
.btn-group-navbar button:hover,
.btn-group button:hover,
.button-add:hover,
.button-save:hover,
.btn-group-long button:hover,
.buttons-flexMenu button:hover,
.button-menu:hover,
.button-exit:hover {
    background: var(--gradient-color-hover);
}

/* -- Style the button list -- */
.btn-group, .btn-group-long, .button-export{
    max-height: 88vh;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 5px
}

.btn-group button, .btn-group-long button, .btn-group-navbar button{
    padding: 10px;
    margin-bottom: 5px;
}

/* -- Style the search and add button -- */
.button-menu, .button-add {
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: inherit;
}

/* -- Make raster of the buttons -- */
.buttons-flexMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* -- Resize the font on window size and adds space between buttons -- */
.buttons-flexMenu button {
    font-size: clamp(0.25rem, 0.65vw + 0.75rem, 1.25rem);
    margin: 3px;
}
/* -- Color selected button --*/
#button-clicked {
    background-color: var(--selected);
}

/* -- Delete button --*/
.button-delete {
    background: rgb(230, 0, 0);
    border: 1px solid rgb(200, 0, 0);
    color: white;
    padding: 5px;
    height: 40px;
}

.button-save {
    height: 40px;
}

.button-delete:hover {
    background-color: rgb(200, 0, 0);
}

/* -- Cancel button --*/
.button-cancel {
    margin-left: 30%;
}

.button-cancelMenu{
    margin-left: 90%;
}

.button-cancel, .button-cancelMenu {
    background-color: rgb(201, 201, 201);
    border: 2px solid rgb(173, 173, 173);
}

.button-cancel:hover, .button-cancelMenu:hover {
    background-color: rgb(145, 145, 145);
    border: 2px solid rgb(133, 133, 133);
}

/* -- Export Button -- */
.button-export {
    background-color: rgb(0, 140, 255);
}

.button-export:hover {
    background-color: rgb(0, 120, 218);
}